allure-behave==2.11.0
allure-pytest==2.8.40
allure-python-commons==2.11.0
appdirs==1.4.4
Appium-Python-Client==1.1.0
assertpy==1.1
attrs==20.3.0
basepage==1.7.4
behave==1.2.6
black==21.4b2
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
distlib==0.3.1
filelock==3.0.12
glob2==0.7
idna==3.3
iniconfig==1.1.1
Mako==1.1.4
MarkupSafe==1.1.1
mypy-extensions==0.4.3
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pathspec==0.8.1
Pillow==8.3.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
pytest-bdd==4.0.2
pytest-ordering==0.6
regex==2021.4.4
requests==2.26.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.4
